mat-form-field{
    width: 100%;
}

h1{
    margin-top: 3rem;
    text-align: center;
}


mat-form-field{
    width: 49%;
    margin-right: 5px;
}


.container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


.prametros{
    margin-bottom: 2rem;
}



