
<div class="col-md-8" id="htmlData">
    <table class="table table-bordered">
        <tr class="table-primary">
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let user of USERS">
            <th>{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </table>

    <h2>Holaaaaaaaaaaaaaaaaaaaaaaaa</h2>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum vero possimus at qui, pariatur corrupti maxime perspiciatis molestiae nihil illum? Modi alias tempora consectetur excepturi sapiente, dignissimos iste quam veniam.</p>
</div>

