 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{titulo}}</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
<div class="container">
  <div class="container-fluid imagen-dash">
    <h2 class="title-bio">BIO</h2>
    <img src="../../../assets/images/logo.png" width="250px" alt="">
    <h2 class="sub-bio">CEL</h2>
  </div>
</div>
 

  
  <div class="container-fluid">

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="small-box bg-info">
    <div class="inner">
    <h2>{{totalExamenes?.length}}</h2>
    <p>Examenes Totales</p>
    </div>
    <div class="icon">
      <i class="fa fa-book" aria-hidden="true"></i>
    </div>
    <a routerLink="examenes" class="small-box-footer">Ver examenes <i class="fas fa-arrow-circle-right"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 ">
      <div class="small-box bg-info">
      <div class="inner">
      <h2>{{totalExamenesActivos?.length}}</h2>
      <p>Examenes Activos</p>
      </div>
      <div class="icon">
        <i class="fa fa-paperclip" aria-hidden="true"></i>
      </div>
      <a routerLink="examenes" class="small-box-footer">Ver examenes <i class="fas fa-arrow-circle-right"></i></a>
      </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 ">
        <div class="small-box bg-success">
        <div class="inner">
        <h2>{{totalPacientes?.length}}</h2>
        <p>Pacientes Totales</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a routerLink="pacientes" class="small-box-footer">Ver pacientes <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        </div>


  </div>


  
  </div>